* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to left top, rgb(0, 0, 83), rgb(226, 226, 226));
}

.title {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    font-family: 'Shadows Into Light', cursive;
    text-transform: uppercase;
}

.navbar {
    background: black;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 8vh;
    width: 100vw;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbar-container > div, button {
    margin: 0 5rem;
}

.box {
    color: rgba(236, 232, 232, 0.884);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5rem;
}

.time-container h3,
.moves-container h3 {
    text-transform: uppercase;
}

#time, #moves {
    padding: 0rem 1.5rem;
    margin: 0;
    font-size: 2rem;
  }

.btn {
    padding: 0.5rem;
    font-size: 1.4rem;
    background: black;
    color: #ccc;
    border: 2px solid rgba(236, 232, 232, 0.884);
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}

.btn:hover {
    color: #fff;
}

.memory-game {
    width: 70vw;
    height: 70vh;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}

.memory-card:active {
    transform: scale(.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #ccc;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}